
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bonjour</title>
</head>
<body>
    <h3>Bonjour from the view!</h3>
</body>
</html>
